<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd  NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" 
      internalLogFile="c:\temp\nlog-internal.log" >
  
  <extensions>
    <add assembly="NLog.HipChat"/>
  </extensions>
  <variable name="myvar" value="myvalue"/>
  <targets>
    <target xsi:type="File" name="file" fileName="${basedir}/Logs/${shortdate}.log"
            layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}"/>    
    <target xsi:type="Mail" name="email"
            from="silab@synevo.com.ua" 
            to="alexander.karpliuk@synevo.ua" 
            subject="Ошибка Results Online"
            html="true" 
            smtpServer="192.168.1.246"/>
    <target xsi:type="HipChat" name="hipChat"
            authToken="c18819394df950a207b05da3313d85"
            roomId="1554795"
            senderName="DotNetSender"
            backgroundColor="red"
            layout="${message}"/>
  </targets>
  <rules>   
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Error" writeTo="hipChat" />
    <!--<logger name="*" minlevel="Error" writeTo="email" /> -->
   
  </rules>  
</nlog>